<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Prescription</title>
</head>
<body>
    <h1>Medicine Prescription</h1>
    <form action="/get_medicine" method="post">
    <p>Prescription:</p>
    <p>{{ prescription }}</p>
    <footer>
        <button id="sendMedicineButton"><a href="D:\kyuga\OneDrive - vit.ac.in\College\_Learnings\Projects\SIH 2023\templates\ashaworkermedicine.html">Send Medicine to Nearest Asha Worker</a></button>
    </footer>
</body>
</html>
